@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Dekko');

body {
  background: url(bg.svg) #39403D no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#our_jumbo {
  opacity: 0.95;
  margin-bottom: 600px;
}

#About_P {
  font-size: 60px;
  font-family: "Kalam";
}

#About_Text {
  font-size: 35px;
  font-family: "Kalam"
}

#About_ID {
  margin-left: 7%;
  margin-right: 7%;
  width: 90%;
}

h1 {
  font-family: "Dekko";
}
