@import url("fonts.css");

body {
    background: url(bg.svg) #39403D no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 #room {
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
 }

 #jumbo {
    opacity: 0.9;
 }

 #paragraph {
    margin-top: 5%;
 }